<app-header>
</app-header>

<!-------------Header Section------------------------------->
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand multusimg" href="#"><img src="../../assets/logo.png"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item-active li">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <li class="nav-item li">
                    <a class="nav-link" href="#">Benifits</a>
                </li>
                <li class="nav-item li">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item li">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item li">
                    <a class="nav-link" routerLink="/signup">Sign Up</a>
                </li>

            </ul>
        </div>
    </nav>
</section>

<!-------------------------------------------------Body section------------------------------->

<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-12 banner">

            <div class="imgtexting">
                <span>
       <h1><strong>Multus Medical</strong> specializes</h1>
    </span>
                <span>
       <h1>in creating Patient-Specific</h1>
    </span>
                <span>
       <h1>3D Models</h1>
    </span>
            </div>
            <div class="bannerlink">
                <a href="#" class="textdecor">Schedule A Meeting</a>
            </div>


        </div>
    </div>

</div>










<!-------------------------------------------------------------------------------->





<!---------------------footer Section------------------------------>
<footer class="foot footer">Copyright@ multihospital 2017</footer>